@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Square+Peg&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  background: url(./img/start.jpg) no-repeat center center/cover;
  top: 0;
  left: 0;
  /* z-index: -1; */
}

.app.warm {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  background: url(./img/warm.jpg) no-repeat center center/cover;
  top: 0;
  left: 0;
}

.app.cold {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  background: url(./img/cold.jpg) no-repeat center center/cover;
  top: 0;
  left: 0;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 8px;
}

.app input:hover {
  box-shadow: 0 0 15px;
}

::placeholder {
  color: #888;
}

/* .app:before {
  content: '';
  background: url(./img/weather-bg.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
} */

.container {
  max-width: 700px;
  height: 550px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
}

.app .details {
  position: relative;
  /* right: -90%; */
  transform-origin: 0 0;
  transform: rotate(0);
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;

  text-align: center;
  width: 100%;
  margin: 5rem auto;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}
